
<link rel="homepage.css" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;900&display=swap" rel="stylesheet">

#header{
    position:static;
}

#footer{
    position:static;
    background-color:purple;
}

body,html{
    min-height:100%;
}

body {    
    background-image: url("../imgs/map.png");
    background-color:grey;
    background-repeat: repeat-y;
    height:100vh;
    font-family: 'Mulish', sans-serif;
    font-size:16px;
}

section#title{

background-color:white;
}


h1 {
    color:black;
    font-size: 1.5em; 
}

h2{
    color:black;
    font-family: 'Mulish', sans-serif;
    font-size: 1.5em; 
}

section.article {
    border:solid black;
    border-width:1px;
    background-color:white;
    font-weight: 400;

}

.label{
    font-weight:700;
}

section.table{
background-color:yellow;

}

#articleHeader{


}

#featuredArticle {
    font-size: 1.25rem;
    background-color: grey;
    background-image:50%;


}

#featuredArticleHeader {
    font-family: 'Mulish',sans-serif;
    font-size: 1.5rem;

}




